[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "keyboard/osx-keyboard"]
	path = keyboard/osx-keyboard
	url = https://github.com/jasonrudolph/keyboard
